<!--        contact_us.ejs       -->
<!--        Contact Us Page      -->
<!--  Written by Brandon Kelley  -->

<!DOCTYPE html>
<html>

<head>
  <title>Sigma Phi Delta Fraternity</title>
  <% include base/styles %>
</head>

<body>
  <% include base/navbar %>
  <% include base/left_col %>
  <div class="main">
    <div class="container">
      <div>
        <h1>Elected Officials</h1>
        <table style="width: 100%">
          <col style="width: 30%"/>
          <col style="width: 20%"/>
          <col style="width: 25%"/>
          <col style="width: 25%"/>
          <% var elected = positions.elected; %>
          <% for(var i = 0; i < elected.length; i++) { %>
            <tr>
              <td><%= elected[i]["position"] %></td>
              <td><%= elected[i]["firstname"] %></td>
              <td><%= elected[i]["lastname"] %></td>
              <td><%= elected[i]["email"] %></td>
            </tr>
          <% } %>
        </table>
      </div>
      <div>
        <h1>Appointed Officials</h1>
        <table style="width: 100%">
          <col style="width: 30%"/>
          <col style="width: 20%"/>
          <col style="width: 25%"/>
          <col style="width: 25%"/>
          <% var appointed = positions.appointed; %>
          <% for(var i = 0; i < appointed.length; i++) { %>
            <tr>
              <td><%= appointed[i]["position"] %></td>
              <td><%= appointed[i]["firstname"] %></td>
              <td><%= appointed[i]["lastname"] %></td>
              <td><%= appointed[i]["email"] %></td>
            </tr>
          <% } %>
        </table>
      </div>
    </div>
  </div>
  <% include base/right_col %>
  <% include base/footer %>
  <% include base/scripts %>
</body>

</html>
