<section>
  <h1>Sigma Phi Delta Beta-Nu Roster</h1>
  <br>
  <div id="roster">
    <table>
      <colgroup>
        <col style="width: 8%;"/>
        <col style="width: 8%;"/>
        <col style="width: 7%;"/>
        <col style="width: 12%;"/>
        <col style="width: 8%;"/>
        <col style="width: 6%;"/>
        <col style="width: 22%;"/>
        <col style="width: 22%;"/>
      </colgroup>
      <tbody>
        <tr>
          <th>Name</th>
          <th>Nickname</th>
          <th>Pledge Class</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Birthday</th>
          <th>Current Address</th>
          <th>Home Address</th>
        </tr>
        <% var currentClass = roster[0].class %>
        <% for (var i = 0; i < roster.length; i++) { %>
          <% if (roster[i].class !== currentClass) { %>
            <% currentClass = roster[i].class %>
            <tr>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
            </tr>
          <% } %>
          <tr>
            <td><%= roster[i].name.first %> <%= roster[i].name.last %></td>
            <td><%= roster[i].nickname %></td>
            <td><%= roster[i].class %></td>
            <td><%= roster[i].email %></td>
            <td><%= roster[i].phone %></td>
            <td><%= roster[i].birthday %></td>
            <% if (roster[i].currentAddress) { %>
              <% var currentAddress = roster[i].currentAddress %>
              <% currentAddress += ", " + roster[i].currentCity %>
              <% currentAddress += ", " + roster[i].currentState %>
              <% currentAddress += ", " + roster[i].currentPostal %>
            <% } else { %>
              <% currentAddress = "" %>
            <% } %>
            <td><%= currentAddress %></td>
            <% var homeAddress %>
            <% if (roster[i].homeAddress) { %>
              <% homeAddress = roster[i].homeAddress %>
              <% homeAddress += ", " + roster[i].homeCity %>
              <% homeAddress += ", " + roster[i].homeState %>
              <% homeAddress += ", " + roster[i].homePostal %>
            <% } else { %>
              <% homeAddress = "" %>
            <% } %>
            <td><%= homeAddress %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>
